<div class="container">
    <div class="row mt-5 ">
        <div class="col-12 col-md-4 text-light">
            <app-informacion-discografia></app-informacion-discografia>
        </div>
        <div class="col-12 col-md-8 row text-light">

            <div class="col-12">
                <app-albums-discografia></app-albums-discografia>
                <hr style="background-color: #707075; width: 100%;">

            </div>
            <div class="col-12">
                <app-canciones-populares-discografia [idArtista]="id"></app-canciones-populares-discografia>

            </div>
        </div>
    </div>

</div>
