<h1 class="text-center text-light mt-4">New releases</h1>
<div class="container" *ngIf="!cargando; else spinner">
    <ng-container *ngIf="lanzamientos!.length; else mensaje">
        <div class="d-flex ">
            <app-botones [btnSiguiente]="!!urlSiguiente" [btnAnterior]="!!urlAnterior"
                (accion)="cambiarLanzamientos($event)" class="ml-auto mb-5"></app-botones>
        </div>
        <div class="row">
            <div class=" col-12 col-md-3 col-lg-2 px-2  mb-5" *ngFor="let lanzamiento of lanzamientos">
                <div class="card" style="cursor:pointer" (click)="verDiscografia(lanzamiento.artists[0].id)">
                    <img class="card-img-top" loading="lazy" [src]="lanzamiento.images[1].url" alt="Portada album">
                    <div class="card-body px-0">
                        <h5 class="card-title overflow-ellipsis">{{lanzamiento.name}}</h5>
                        <p class="card-text overflow-ellipsis">{{lanzamiento.artists[0].name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #mensaje>
        <app-mensaje-alerta texto="No se encotraron releases"></app-mensaje-alerta>
    </ng-template>
</div>

<ng-template #spinner>
    <app-loading></app-loading>
</ng-template>
