.table {
    background-color: transparent;
    color: #8f8e94;
    width: 100%;
    display: table;
}

td {
    border-top: none !important;
    border-bottom: solid #8f8e94 1px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.img-border {
    border-radius: calc(0.5rem - 1px);
}
.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
